html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;

}

header {
    background: url("monstera.jpg") no-repeat center center;
    background-size: cover;
    margin: 0;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
}

header h1 {
    font-size: 2rem;
    font-weight: 600;
    display: inherit;
    align-items: inherit;
}

header img {
    height: 6rem;
}

header a {
    color: hsla(0, 0%, 100%, 0.75);
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    margin: 1rem;
    font-size: 0.75rem;
}


main {
    color: black;
    font-weight: 600;
    background-color: hsl(0, 0%, 90%);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main>div {
    padding: 1rem;
}

main p {
    margin: 1rem 0;
    font-size: 1.25rem;
}

.input-section {
    background-color: white;
}

.input-section .notice{
    font-weight: 400;
    font-size: 1rem;
    color: hsla(0, 0%, 0%, 0.5)
}

main form {
    font-weight: 400;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

main form div label {
    display: flex;
    padding: 0.25rem 0;
}

label[for="password"]::after,
label[for="confirm-password"]::after,
label[for="email"]::after,
label[for="first-name"]::after,
label[for="last-name"]::after,
label[for="phone-number"]::after {
    content: "\00a0 *";
}
main form div input {
    width: 16rem;
    margin: 0;
    border: 0.0625rem solid black;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    padding: 0.25rem;
}

main form div input:focus {
    border: solid 0.0625rem black;
    outline: solid 0.125rem black;
    border-radius: 0.125rem;
}

main form div input:not(:focus):valid {
    background-color: rgba(0, 255, 0, 0.1);
}

main form div input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(255, 0, 0, 0.1);
}

main form div input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.error {
    width: 16rem;
    font-size: 0.875rem;
    color: red;
    opacity: 0;
    margin: 0;
    padding: 0.25rem 0;
    display: block;
    max-height: 0;
    transition: all 1s ease-in-out;
}

.error p {
    font-size: inherit;
    margin: inherit;
    padding: 0.125rem 0;
}

.show{
    display: block;
    max-height: 128px;
    opacity: 1;
}

main button {
    margin: 1rem 0;
    color: white;
    background-color: green;
    border: none;
    padding: 1rem;
    font-size: inherit;
    border-radius: 0.5rem;
    font-family: inherit;
    font-weight: 600;
}

main button:hover {
    cursor: pointer;
    background-color: darkgreen;
}

main a {
    color: green;
}

@media only screen and (min-width: 769px) {

    body {
        flex-direction: row;

        flex: 1;
        display: flex;
        overflow: auto;
    }

    header {
        /* height: auto; */
        min-height:100vh;
        width: 41.66%;
        
        position: sticky;
        top: 0px;
        bottom: 0px;

   
    }

    main {
        /* height: auto; */
        /* min-height:100vh; */

        width: 58.33%;
        /* background-color: pink !important; */
        /* overflow: scroll; */
    }

}